<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Book_Rental_System.Properties.Settings.BookConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Book.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True"
            providerName="System.Data.SqlClient" />
        <add name="Book_Rental_System.Properties.Settings.BookConnectionString1"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=D:\Book_Rental_System\Book_Rental_System\bin\Debug\Book.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>